<div class="container1">
  <div id="exercise-list">
    <h2 class="section-title">Übungen</h2>
    <p>Hier kannst du aus einer Liste von Übungen dir ein eigenes Training zusammenstellen</p>
    <input id="Searchbar" type="text" [(ngModel)]="searchText" (keyup)="filterExercises(searchText)" placeholder="Suche nach Übungen...">
    <div class="scrollable-list exercise-scrollable-list">
      <div *ngFor="let exercise of FilteredExercises" class="card select-list" (click)="openOverlay(exercise, true, null)">
        <div class="card-content">
          <div class="card-image">
            <img ngSrc="{{exercise.gifLink}}" alt="Gif" width="100" height="100" style="max-height: 100%; height: auto">
          </div>
          <div class="card-text">
            <h3 class="section-title">{{exercise.Name}}</h3>
            <p>{{exercise.Description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="selected-exercises">
    <input #workoutTitle class="input" type="text" placeholder="Name des Workouts" id="workout-title">
    <textarea #workoutDescription rows="5" class ="input" type="text" placeholder="Beschreibung" id="workout-description"></textarea>
    <div cdkDropList [cdkDropListData]="ExerciseList" (cdkDropListDropped)="drop($event)"  class="workout-box scrollable-list">
      <div *ngFor="let exercise of workout, let i = index" cdkDrag (click)="openOverlay(exercise, false, i)" (mousedown)="wasdragged = false;"  (dragstart)="wasdragged=true;" class="card workout-list">
        <div class="card-content">
          <div class="card-image">
            <img ngSrc="{{exercise.gifLink}}" alt="Gif" width="100" height="100" style="max-height: 100%; height: auto">
          </div>
          <div class="card-text">
            <h3 class="section-title">{{i + 1}}. {{exercise.Name}}</h3>
            <button class="button button-removeExercise" (click)="removeExerciseFromWorkout(i); $event.stopPropagation()">Entfernen</button>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-buttons">
      <button class="button" (click)="backToMainsite(workoutTitle.value, workoutDescription.value)">Abbrechen</button>
      <button class="button">Speichern</button>
    </div>
  </div>

  <div class="overlay" *ngIf="ExerciseOverlay">
    <div class="overlay-box exercise-box">
      <img ngSrc="{{selectedExercise?.gifLink}}" alt="Gif" width="600" height="600">
      <div class="ExcerciseBox">
        <div id="exercise-title-and-description">
          <h1 class="ExcerciseTitle">{{selectedExercise?.Name}}</h1>
          <p align="justify">{{selectedExercise?.Description}}</p>
        </div>
        <div class="xp-wrapper">
          <span class="xp-label">XP</span>
          <span class="xp-value">50</span>
        </div>
        <div class="set-reps-box">
          <div class="set-reps-input-div">
            <label class="label" for="exercise-reps">Wiederholungen</label>
            <input class="input" type="number"  id="exercise-reps" name="exercise-reps" [(ngModel)]="selectedExercise.repetitions">
          </div>
          <div class="set-reps-input-div">
            <label class="label" for="exercise-sets">Sätze</label>
            <input class="input" type="number"  id="exercise-sets" name="exercise-sets" [(ngModel)]="selectedExercise.sets">
          </div>
          <div *ngIf="selectedExercise.hasWeight" class="set-reps-input-div">
            <label class="label" for="exercise-weight">Gewicht</label>
            <input class="input" type="number"  id="exercise-weight" name="exercise-weight" [(ngModel)]="selectedExercise.weight">
          </div>
        </div>
        <div class="nav-buttons">
          <button class="button button-cancel" (click)="ExerciseOverlay = !ExerciseOverlay">Abbrechen</button>
          <button *ngIf="addToWorkout" class="button button-add" (click)="addExerciseToWorkout(selectedExercise)">Hinzufügen</button>
          <button *ngIf="!addToWorkout" class="button button-add" (click)="saveExerciseToWorkout(selectedExercise)">Speichern</button>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay " *ngIf="showConfirmation">
    <div class="overlay-box confirmation-box">
      <p>Es gibt Änderungen die nicht gespeichert sind, bist du sicher, dass du abbrechen willst?</p>
      <div class="button-group">
        <button class="button" (click)="MainRedirect()">Trotzdem Abbrechen</button>
        <button class="button" (click)="showConfirmation = !showConfirmation">Weiter Workout erstellen</button>
      </div>
    </div>
  </div>
</div>
