.section-title{
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.card.select-list {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}

.card.select-list:hover {
  cursor: pointer;
  border: 3px solid lightskyblue;
}

.card.workout-list {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  margin-top: 5px;
  padding: 5px;
}

[cdkDrag] {
  cursor: grab;
}

.cdk-drag-dragging{
  cursor: grabbing;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-image img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-text {
  flex: 1;
}

.container1{
  display: flex;
  padding-top: 40px;
  padding-left: 40px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

*{
  overflow: hidden;
}
.selected-exercises{
  border-left: darkgray 1px solid;
  height: 83vh ;
  padding: 0 20px 0 20px;
  width: 30%;
}

.scrollable-list {
  height: 74.6vh;
  overflow-y: auto;
  overflow-x: hidden;
}

input{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  horiz-align: center;
}

input:focus {
  outline: none;
  border: 1px solid #ccc;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-box{
  background: white;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.exercise-box{
  width: 1200px;
  height: 650px;
  display: flex;
}

.confirmation-box{
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.ExcerciseBox{
  font-family: 'Poppins', sans-serif;
  width: 550px;
}

.ExcerciseTitle{
  font-weight: bold;
  font-size: 25px;
  padding-top: 8px;
  margin-top: 20px;
}

.button {
  background-color: #1a1a1a;
  color: white;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border: solid 1px black;
}

.button-removeExercise{
  padding: 6px 12px;
  float: right;
  margin-right: 5px;
}
.xp-wrapper {
  align-items: center;
  font-family: Arial, sans-serif;
}

.xp-label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 4px;
}

.xp-value {
  font-size: 40px;
  font-weight: bold;
}

.workout-box {
  height:auto;
  max-height: 605px;
}

.nav-buttons{
  display: flex;
  float: right;
  gap: 10px;
}

.button:hover {
  border: solid 1px black;
  background-color: whitesmoke;
  color: black;
}


.confirmation-box p {
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Searchbar{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 30%;
}

#exercise-list{
  width: 70%;
}

.set-reps-box{
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.set-reps-box>div{
  flex:1;
}

#exercise-title-and-description{
  max-height: 63%;
}

label{
  font-weight: bold;
}
