<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="MainRedirect()">
      <img ngSrc="/Logo.png" alt="Logo" width="60" height="60" style="max-height: 100%; height: auto">
      <span class="title">Platzhalter</span>
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav nav-underline">
        <li class="nav-item" (click)="WorkoutsRedirect()">
          <a class="nav-link">Workout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Profil</a>
        </li>
        <li class="nav-item" (click)="UserLogout()">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
