.nav-link{
  color: black;
}

.bi-house-door-fill:hover{
  cursor: pointer;
}

.nav-link:hover{
  cursor: pointer;
  font-weight: bold;
}

.title{
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}






