<div class="page-container" *ngIf="!showGame">
  <div id="workout-header">
    <div id="detail-box" class="card">
      <h1>{{this.workout.title}}</h1>
      <p>{{this.workout.description}}</p>
    </div>
    <div id="timer-box" class="card">
      <i class="bi bi-clock"></i>
      <div class="timer-value">{{ formattedTime }}</div>
    </div>
  </div>
  <div id="workout-body" class="card">
    <button *ngIf="!workoutStarted" (click)="workoutStarten()">Workout starten</button>
    <div id="workout-box" *ngIf="workoutStarted">
      <h3>{{currentExercise.Name}}</h3>
      <div style="display: flex; gap:10px">
        <p align="justify" style="min-width: 522px">{{currentExercise.Description}}</p>
        <img ngSrc="{{currentExercise.gifLink}}" alt="Gif" width="200" height="200">
      </div>
      <div class="set-row" *ngFor="let i of getCounter(currentExercise.sets); let idx = index" [ngClass]="{'checked-background': checkedSets[idx]}">
        <div class="set-number">{{ idx + 1 }}</div>
        <div class="set-info">
          <span *ngIf="currentExercise.hasWeight">{{ currentExercise.weight }} kg x </span>
          <span>{{ currentExercise.repetitions }} Wiederholungen</span>
        </div>
        <div class="set-done">
          <input type="checkbox" [(ngModel)]="checkedSets[idx]" (change)="CheckboxChange()"/>
        </div>
      </div>
    </div>
  </div>
  <div id="abbrech-button-box">
    <button (click)="WorkoutAbbrechen()">Workout Abbrechen</button>
  </div>
</div>
<div *ngIf="showAbbrechKontext" class="overlay">
  <div class="overlay-box">
    <p>Wenn du das Workout Abbrechen willst, werden auch bereits abgeschlossene Übungen nicht angerechnet</p>
    <div id="abbrechButtons">
      <button (click)="MainRedirect()">Workout beenden</button>
      <button (click)="this.showAbbrechKontext = false">Workout fortsetzen</button>
    </div>
  </div>
</div>
<div *ngIf="showWorkoutFinished" class="overlay">
  <div class="overlay-box">

  </div>
</div>
<div *ngIf="showGame">
  <div id="gaming-timer">
    <i class="bi bi-clock"></i>
    <div class="timer-value">{{ GamingTimerSecondsLeft }} Sekunden Pause</div>
  </div>
  <app-flappybird></app-flappybird>
  <div style="display: flex; justify-content: center; margin-top: 1rem">
    <button (click)="this.showGame = false">Skip</button>
  </div>
</div>

