body {
  background: url('assets/images/login-background.jpg') no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

label{
  display: block;
  text-align: left;
}

.login-container {
  background: white;
  border-radius: 20px;
  width: 300px;
  text-align: center;
}
.tab-content{
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.hover-underline:hover{
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.nav-tabs{
  display: flex;
  border:none;
}

.nav-link{
  color: black;
  border-radius: 0;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;

}
.nav-tabs .nav-link:not(.active){
  background-color: whitesmoke;

}

.anmelden{
  border-top-left-radius: 20px;
}

.register{
  border-top-right-radius: 20px;
}

.anmelden:not(.active){
  border-right: 2px solid #cccccc;
}
.register:not(.active){
  border-left: 2px solid #cccccc;
}
