<body>
  <div class="login-container">
    <ul class="nav nav-tabs nav-fill" id="myTab">
      <li class="nav-item">
        <a class="nav-link active anmelden" id="login-tab" data-bs-toggle="tab" href="#login">Anmelden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link register" id="register-tab" data-bs-toggle="tab" href="#register">Registrieren</a>
      </li>
    </ul>

    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="login">
        <form>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" [(ngModel)]="loginMail" name="loginMail" class="form-control" placeholder="Email">
          </div>
          <div class="mb-3">
            <label class="form-label">Passwort</label>
            <input type="password" [(ngModel)]="loginPassword" name="loginPassword" class="form-control" placeholder="Passwort">
          </div>
          <p *ngIf="showWrongPassword" style="color: red; font-size:12px">Es existiert kein Account mit diesen Logindaten</p>
          <div style="margin-bottom: 5%"  class="hover-underline d-block text-dark ">Passwort vergessen?</div>
          <button type="submit" class="btn btn-login w-100" (click)="Login($event)" >Anmelden</button>
        </form>
      </div>

      <div class="tab-pane fade" id="register">
        <form>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email"[(ngModel)]="regMail" name="regMail" class="form-control" placeholder="Email">
          </div>
          <div class="mb-3">
            <label class="form-label">Passwort</label>
            <input type="password" [(ngModel)]="regPassword" name="regPassword" class="form-control" placeholder="Passwort">
          </div>
          <div class="mb-3">
            <label class="form-label">Passwort bestätigen</label>
            <input type="password" [(ngModel)]="regPassword2" name="regPassword2"class="form-control" placeholder="Passwort">
          </div>
          <p *ngIf="passwordNichtGleich" style="color: red; font-size:12px">Passwörter stimmen nicht überein.</p>
          <button type="submit" class="btn btn-login w-100" (click)="Register($event)">Registrieren</button>

        </form>
      </div>
    </div>
  </div>
</body>
