<div class="container py-4">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Dein Profil: {{currentUser?.username}}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- Bildbereich -->
        <div class="col-md-6 text-center mb-3 mb-md-0 border-end">
          <div>
            <button>Avatar 1</button>
            <button>Avatar 2</button>
          </div>
          <div>
            <button>Avatar 3</button>
            <button>Avatar 4</button>
          </div>
        </div>
        <div class="col-md-6 px-4">
          <h6 class="mb-3 text-secondary">Deine XP-Übersicht</h6>
          <div class="row">
            <div class="col-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item ">
                  <span>Total XP: {{ currentUser?.xpTotal }}</span>
                </li>
                <li class="list-group-item ">
                  <span>Schultern XP: {{ currentUser?.xpShoulders }}</span>
                </li>
                <li class="list-group-item ">
                  <span>Bizeps XP: {{ currentUser?.xpBiceps }}</span>
                </li>
                <li class="list-group-item ">
                  <span>Trizeps XP: {{ currentUser?.xpTriceps }}</span>
                </li>
                <li class="list-group-item ">
                  <span>Rücken XP: {{ currentUser?.xpBack }}</span>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item ">
                  <span>Brust XP: {{ currentUser?.xpChest }}</span>
                </li>
                <li class="list-group-item ">
                  <span>Bauch XP: {{ currentUser?.xpAbs }}</span>
                </li>
                <li class="list-group-item ">
                  <span>Gluteus Maximus XP: {{ currentUser?.xpGlutes }}</span>
                </li>
                <li class="list-group-item ">
                  <span>Bein XP: {{ currentUser?.xpLegs }}</span>
                </li>
                <li class="list-group-item ">
                  <span>Flexiblität XP: {{ currentUser?.xpFlexibility }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
