<div class="container py-4">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">Dein Profil: {{currentUser?.username}}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="row g-3 justify-content-center">
            <div class="col-5 d-flex justify-content-center">
              <button class="btn btn-light border w-75" [ngClass]="{
              'border-primary border-4': AvaId ===1,
              'border-secondary': AvaId !== 1}"
              style="aspect-ratio: 1; background-image: url('/Ava1Front.png'); background-size: cover;" (click)="setAvatarId(1)">
              </button>
            </div>
            <div class="col-5 d-flex justify-content-center" >
              <button class="btn btn-light border w-75" [ngClass]="{
              'border-primary border-4': AvaId ===2,
              'border-secondary': AvaId !== 2}"
              style="aspect-ratio: 1; background-image: url('/Ava2Front.png'); background-size: cover;" (click)="setAvatarId(2)">
              </button>
            </div>
            <div class="col-5 d-flex justify-content-center">
              <button class="btn btn-light border w-75" [ngClass]="{
              'border-primary border-4': AvaId ===3,
              'border-secondary': AvaId !== 3}"
              style="aspect-ratio: 1; background-image: url('/Ava3Front.png'); background-size: cover;" (click)="setAvatarId(3)">
              </button>
            </div>
            <div class="col-5 d-flex justify-content-center">
              <button class="btn btn-light border w-75" [ngClass]="{
              'border-primary border-4': AvaId ===4,
              'border-secondary': AvaId !== 4}"
              style="aspect-ratio: 1; background-image: url('/Ava4Front.png'); background-size: cover; " (click)="setAvatarId(4)">
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-0">Benutzernamen ändern</h5>
            </div>
            <div class="card-body">
              <form (ngSubmit)="UpdateUser(newUsername)">
                <div class="mb-3">
                  <label for="usernameInput" class="form-label">Neuer Benutzername</label>
                  <input
                    type="text"
                    class="form-control"
                    id="usernameInput"
                    [(ngModel)]="newUsername"
                    name="username"
                    placeholder="Gib deinen neuen Benutzernamen ein"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary w-100">Aktualisieren</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
