<div class="main">
  <h1>Moin, {{this.userService.getCurrentUser()?.username}}!</h1>
  <div class="dashboard">
    <div class="section">
      <h2 class="section-title">Zusammenfassung</h2>
      <ul>
        <li >
          Total LVL: {{this.calculateLevel(userService.getCurrentUser()?.xpTotal!) }}
        </li>
        <li >
          Schultern LVL: {{this.calculateLevel(this.userService.getCurrentUser()?.xpShoulders!) }}
        </li>
        <li >
          Bizeps LVL: {{this.calculateLevel(this.userService.getCurrentUser()?.xpBiceps!) }}
        </li>
        <li >
          Trizeps LVL: {{this.calculateLevel(this.userService.getCurrentUser()?.xpTriceps!) }}
        </li>
        <li>
          Rücken LVL: {{ this.calculateLevel(this.userService.getCurrentUser()?.xpBack!) }}
        </li>
        </ul>
      <i class="bi bi-info-circle" (click)="showSummaryInfo = !showSummaryInfo"></i>
    </div>

    <div class="section" style="text-align: center;">
      <img ngSrc="/muskeln-muskulatur-scaled.jpeg" alt="Avatar" width="240" height="320" style="max-height: 100%; height: auto" />
    </div>

    <div class="section">
      <h2 class="section-title">Stats</h2>
      <ul>
        <li>
          Brust LVL: {{ this.calculateLevel(this.userService.getCurrentUser()?.xpChest!) }}
        </li>
        <li>
          Bauch LVL: {{ this.calculateLevel(this.userService.getCurrentUser()?.xpAbs!) }}
        </li>
        <li>
          Gluteus Maximus LVL: {{ this.calculateLevel(this.userService.getCurrentUser()?.xpGlutes!) }}
        </li>
        <li>
          Bein LVL: {{ this.calculateLevel(this.userService.getCurrentUser()?.xpLegs!)}}
        </li>
        <li>
          Flexiblität LVL: {{ this.calculateLevel(this.userService.getCurrentUser()?.xpFlexibility!) }}
        </li>
      </ul>
      <i class="bi bi-info-circle" (click)="showStatsInfo = !showStatsInfo"></i>
    </div>
  </div>

  <div class="welcome">
    <h2>Willkommen</h2>
    <p>Hier könnte Ihre Werbung stehen</p>
  </div>

  <div class="cards">
    <div class="card" (click)="ProfileRedirect()">
      <h3>Profil</h3>
      <p>Dein Fortschritt, Einstellungen und mehr.</p>
    </div>
    <div class="card" (click)="WorkoutsRedirect()">
      <h3>Workouts</h3>
      <p>Starte dein Training mit einem Klick.</p>
    </div>
    <div class="card" (click)="WorkoutErstellenRedirect()">
      <h3>Workout erstellen</h3>
      <p>Erstelle eigene Trainingspläne und Ziele.</p>
    </div>
  </div>

  <div class="overlay" *ngIf="showSummaryInfo">
    <div class="confirmation-box button">
      <i class="bi bi-x-circle" (click)="showSummaryInfo = !showSummaryInfo"></i>
      <ul>
        <li >
          Total EXP: {{this.userService.getCurrentUser()?.xpTotal }}
        </li>
        <li >
          Schultern EXP: {{this.userService.getCurrentUser()?.xpShoulders }}
        </li>
        <li >
          Bizeps EXP: {{this.userService.getCurrentUser()?.xpBiceps }}
        </li>
        <li >
          Trizeps EXP: {{this.userService.getCurrentUser()?.xpTriceps }}
        </li>
        <li>
          Rücken EXP: {{ this.userService.getCurrentUser()?.xpBack }}
        </li>
        <li>
          Brust EXP: {{ this.userService.getCurrentUser()?.xpChest }}
        </li>
        <li>
          Bauch EXP: {{ this.userService.getCurrentUser()?.xpAbs }}
        </li>
        <li>
          Gluteus Maximus EXP: {{ this.userService.getCurrentUser()?.xpGlutes }}
        </li>
        <li>
          Bein EXP: {{ this.calculateLevel(this.userService.getCurrentUser()?.xpLegs!)}}
        </li>
        <li>
          Flexiblität EXP: {{ this.calculateLevel(this.userService.getCurrentUser()?.xpFlexibility!) }}
        </li>
      </ul>
  </div>
  </div>
  <div class="overlay" *ngIf="showStatsInfo">
    <div class="confirmation-box button">
      <i class="bi bi-x-circle" (click)="showStatsInfo = !showStatsInfo"></i>
      <p class="info-text">Test</p>
    </div>
  </div>
</div>
