<div class="main">
  <h1>Moin, {{this.userService.getCurrentUser()?.username}}!</h1>
  <div class="dashboard">
    <div class="section">
      <h2 class="section-title">Zusammenfassung</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
          <span class="flex-grow-1">Total Level:</span>
          <span class="text-end">{{ calculateLevel(userService.getCurrentUser()?.xpTotal!) }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span class="flex-grow-1">Schultern Level:</span>
          <span class="text-end">{{ calculateLevel(userService.getCurrentUser()?.xpShoulders!) }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span class="flex-grow-1">Bizeps Level:</span>
          <span class="text-end">{{ calculateLevel(userService.getCurrentUser()?.xpBiceps!) }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span class="flex-grow-1">Trizeps Level:</span>
          <span class="text-end">{{ calculateLevel(userService.getCurrentUser()?.xpTriceps!) }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span class="flex-grow-1">Rücken Level:</span>
          <span class="text-end">{{ calculateLevel(userService.getCurrentUser()?.xpBack!) }}</span>
        </li>
      </ul>
    </div>

    <div class="section" style="text-align: center;">
      <img ngSrc="{{getavatar(this.userService.getCurrentUser()?.avatarID!).front}}" alt="Avatar" width="240" height="320" style="max-height: 100%; height: auto" />
    </div>

    <div class="section">
      <h2 class="section-title">Stats</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
          <span class="flex-grow-1">Brust Level: </span>
          <span class="text-end">{{ this.calculateLevel(this.userService.getCurrentUser()?.xpChest!) }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span class="flex-grow-1">Bauch Level: </span>
          <span class="text-end">{{ this.calculateLevel(this.userService.getCurrentUser()?.xpAbs!) }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span class="flex-grow-1">Gluteus Maximus Level: </span>
          <span class="text-end">{{ this.calculateLevel(this.userService.getCurrentUser()?.xpGlutes!) }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span class="flex-grow-1">Bein Level: </span>
          <span class="text-end">{{ this.calculateLevel(this.userService.getCurrentUser()?.xpLegs!)}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span class="flex-grow-1">Flexiblität Level: </span>
          <span class="text-end">{{ this.calculateLevel(this.userService.getCurrentUser()?.xpFlexibility!) }}</span>
        </li>
      </ul>
      <i class="bi bi-info-circle" (click)="showStatsInfo = !showStatsInfo"></i>
    </div>
  </div>

  <div class="welcome">
    <h2>Willkommen</h2>
    <p>Hier könnte Ihre Werbung stehen</p>
  </div>

  <div class="cards">
    <div class="card" (click)="ProfileRedirect()">
      <h3>Profil</h3>
      <p>Dein Fortschritt, Einstellungen und mehr.</p>
    </div>
    <div class="card" (click)="WorkoutsRedirect()">
      <h3>Workouts</h3>
      <p>Starte dein Training mit einem Klick.</p>
    </div>
    <div class="card" (click)="WorkoutErstellenRedirect()">
      <h3>Workout erstellen</h3>
      <p>Erstelle eigene Trainingspläne und Ziele.</p>
    </div>
  </div>

  <div class="overlay" *ngIf="showStatsInfo">
    <div class="confirmation-box button">
      <i class="bi bi-x-circle" (click)="showStatsInfo = !showStatsInfo"></i>
      <ng-container *ngIf="userService.getCurrentUser() as user">
        <ul class="stats-list">
          <li><strong>Total EXP:</strong> {{ user.xpTotal }}</li>
          <li><strong>Schultern EXP:</strong> {{ user.xpShoulders }}</li>
          <li><strong>Bizeps EXP:</strong> {{ user.xpBiceps }}</li>
          <li><strong>Trizeps EXP:</strong> {{ user.xpTriceps }}</li>
          <li><strong>Rücken EXP:</strong> {{ user.xpBack }}</li>
          <li><strong>Brust EXP:</strong> {{ user.xpChest }}</li>
          <li><strong>Bauch EXP:</strong> {{ user.xpAbs }}</li>
          <li><strong>Gluteus Maximus EXP:</strong> {{ user.xpGlutes }}</li>
          <li><strong>Beine EXP:</strong> {{ user.xpLegs }}</li>
          <li><strong>Flexibilität EXP:</strong> {{ user.xpFlexibility }}</li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
