<div class="main">
  <h1>Moin, {{this.userService.getCurrentUser()?.username}}</h1>
  <div class="dashboard">
    <div class="section">
      <h2 class="section-title">Zusammenfassung</h2>
      <table>
        <tbody>
          <tr>
            <td>Arme</td>
            <td><strong>Lvl 20: 500/7650</strong></td>
          </tr>
          <tr>
            <td>Torso</td>
            <td><strong>Lvl 25: 4500/9050</strong></td>
          </tr>
          <tr>
            <td>Beine</td>
            <td><strong>Lvl 1: 100/500</strong></td>
          </tr>
          <tr>
            <td>Flexibilität</td>
            <td><strong>Lvl 7: 175/2500</strong></td>
          </tr>
        </tbody>
      </table>
      <i class="bi bi-info-circle" (click)="showSummaryInfo = !showSummaryInfo"></i>
    </div>

    <div class="section" style="text-align: center;">
      <img ngSrc="/muskeln-muskulatur-scaled.jpeg" alt="Avatar" width="240" height="320" style="max-height: 100%; height: auto" />
    </div>

    <div class="section">
      <h2 class="section-title">Stats</h2>
      <table>
        <tbody>
        <tr>
          <td>Streak</td>
          <td><strong>200</strong></td>
        </tr>
        <tr>
          <td>Einheiten Allgemein</td>
          <td><strong>221</strong></td>
        </tr>
        <tr>
          <td>Dieses Jahr</td>
          <td><strong>154</strong></td>
        </tr>
        <tr>
          <td>Diesen Monat</td>
          <td><strong>15</strong></td>
        </tr>
        </tbody>
      </table>
      <i class="bi bi-info-circle" (click)="showStatsInfo = !showStatsInfo"></i>
    </div>
  </div>

  <div class="welcome">
    <h2>Willkommen</h2>
    <p>Hier könnte Ihre Werbung stehen</p>
  </div>

  <div class="cards">
    <div class="card" (click)="ProfileRedirect()">
      <h3>Profil</h3>
      <p>Dein Fortschritt, Einstellungen und mehr.</p>
    </div>
    <div class="card" (click)="WorkoutsRedirect()">
      <h3>Workouts</h3>
      <p>Starte dein Training mit einem Klick.</p>
    </div>
    <div class="card" (click)="WorkoutErstellenRedirect()">
      <h3>Workout erstellen</h3>
      <p>Erstelle eigene Trainingspläne und Ziele.</p>
    </div>
  </div>

  <div class="overlay" *ngIf="showSummaryInfo">
    <div class="confirmation-box button">
      <i class="bi bi-x-circle" (click)="showSummaryInfo = !showSummaryInfo"></i>
      <p class="info-text">Test</p>
    </div>
  </div>
  <div class="overlay" *ngIf="showStatsInfo">
    <div class="confirmation-box button">
      <i class="bi bi-x-circle" (click)="showStatsInfo = !showStatsInfo"></i>
      <p class="info-text">Test</p>
    </div>
  </div>
</div>
