.page-container {
  width: 100%;
  padding: 20px;
}
.standard-workouts-box{
  height:50%;
  width: 100%;
}

h4{
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.card{
  flex: 0 0 auto;
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  overflow: hidden;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.big-card{
  height: 280px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-box{
  display:flex;
  overflow-x: auto;
  gap:1rem;
  padding:1rem;
  scroll-behavior: smooth;
}

.card.hover-true:hover{
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
  border: none;
}

#workout-header{
  display: flex;
  gap: 1rem;
}

#workout-body{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

#detail-box{
  width: 85%;
  height: 150px;
}

#button-box{
  flex:1;
  height: 150px;
  gap: 1rem;
}

#exercise-box{
  flex: 0 0 calc(50% - 1rem);

}

.set-row {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

.set-number {
  width: 32px;
  height: 32px;
  background-color: #d1c4e9;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.set-info {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
  display: flex;
  gap: 8px;
}

.set-time {
  color: #777;
  font-size: 14px;
  margin-right: 16px;
  white-space: nowrap;
}

.button {
  background-color: #3498db;
  color: white;
  border-radius: 6px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2c3e50;
  color: white;
}

.divider {
  border-bottom: solid 1px darkgray;
  margin: 20px;
}


